.box-2 {
    grid-row: 2/3;
    grid-column: 1/4;
    margin-top: 270px;
}
.wrap-b {
    display: flex;
    width: 10vw;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 40px;
}
.b {
    position: relative;
    height: 400px;
    flex-basis: 100%; 
    margin: 50px; 
}
.b-bg {
    position: absolute;
    height: 100%;
    width: 100px;
    background-color: #C4C4C4;
    border-radius: 40px;
    z-index: 1;
    left: -20px;
}
.b img {
    position: relative;
    height: 100%;
    border-radius: 60px;
    z-index: 100;
}
.wrap-b > img {
    height: 40px;
}
.green5 {
    position: absolute;
    left: 0;
    bottom: 30px;
}
.exit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 70px;
    z-index: 100;
}
.exit-btn div {
    margin-top: 10px;
}
@media screen and (max-width: 1500px){
    .b {
        height: 300px;
    }
}
@media screen and (max-width: 1250px) {
    .b:nth-child(5) {
        display: none;
    }
}
@media screen and (max-width: 950px) {
    .b:nth-child(4) {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .b:nth-child(3) {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .b:nth-child(2) {
        display: none;
    }
    .wrap-b {
        justify-content: space-around;
        justify-content: center;
    }
    .wrap-b > img {
        height: 40px; 
        margin-left: 10px;
    }
}